.singleCard {
  display: flex;
  flex-direction: column;
  position: relative;

  .front {
    position: absolute;
    transform: rotateY(90deg);
    transition: 0.15s ease-in;
    transition-delay: 0s;
  }

  .flipped {
    transition: 0.15s ease-in;
    transform: rotateY(0deg);
    transition-delay: 0.2s;
  }

  .back {
    transform: rotateY(0deg);
    transition: 0.15s ease-in;
    transition-delay: 0.2s;
  }

  .backFlipped {
    transition: 0.15s ease-in;
    transform: rotateY(90deg);
    transition-delay: 0s;
  }

  img {
    display: block;
    width: 100%;
    border: 2px solid rgb(220, 220, 220);
    border-radius: 6px;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }
}
